<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>明日からしばらく
サービス残業だ!!!</string>
	<string>今月からしばらく
給料10%カットだ!!!</string>
	<string>今年の
有給休暇なしだ!!!</string>
	<string>今年のボーナス
なしだ!!!</string>
	<string>明日からしばらく
休日出勤だ!!!</string>
	<string>今のプロジェクトから
お前をはずす!!!</string>
	<string>明日からしばらく
出勤停止だ!!!</string>
	<string>今のお前の職位から
降格だ!!!</string>
	<string>明日から
早期出勤だ!!!</string>
</array>
</plist>
