<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>外社から帰社した上司には
「お疲れ様です」と言うんだぞ</string>
	<string>名刺を受け取るとき、
「ちょうだいいたします」と
言うんだぞ</string>
	<string>電話の呼び出し音がなったら
3回以内に出るんだぞ</string>
	<string>出産祝いは、
出産の知らせを聞いてから
贈れよ</string>
	<string>手紙の宛先が会社のときは、
様じゃなく御中を使えよ</string>
	<string>握り寿司を食べるときは、
箸でなくても手でも
食べていいんだよ</string>
	<string>中華料理店にある
ターンテーブルは、
基本的に右に回すんだぞ</string>
</array>
</plist>
